<div class="row">
<% @message_days.each do |date, messages| %>

  <div class="conversation">
  <% messages.each do |message| %>
    <%= conversation_user(current_user, message) %>
  <% end %>
  </div>
<% end %>
</div>


<div>
  <%= render 'messages/form' %>
</div>